.debts-container {
  align-self: flex-start;
  justify-self: flex-end;
  width: 50%;
  min-width: 800px;
}

.debts-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2em;
  width: 100%;
}

button.is-error.invisible {
  visibility: hidden;
}

.debt-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1em 2em;
  width: 100%;
}

.debt-title,
.debt-input {
  font-weight: 700;
  margin: auto 0;
}

.debt-title {
  margin-left: 0.25em;
  width: 30%;
  text-align: left;
}

.debt-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  min-width: fit-content;
  margin: 0 2em;
}

.balance-container,
.interest-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.debt-form label {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

input.debt-balance,
input.debt-interest {
  margin-left: 0.5em;
  width: 75px;
  padding: 0;
  background-color: transparent;
  color: white;
  text-align: center;
}

.months-container {
  display: flex;
  flex-wrap: wrap;
  margin-top: 2em;
}

.month-container {
  flex-grow: 1;
  width: calc(100% * (1 / 6) - 10px - 1px);
  display: flex;
  flex-direction: column;
  margin-bottom: 1em;
  text-align: center;
}

.heart-container {
  width: fit-content;
  margin: 0 auto;
}

.debt-summary-radio {
  list-style: none;
  display: flex;
  margin-left: 2.5em;
}

.debt-summary-radio label {
  margin-top: 1em;
  margin-right: 2em;
}

.debt-summary-instructions + li {
  margin-top: 1em;
}
