* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.nes-container.is-rounded.is-dark.category {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px;
  padding: 1em 2em;
}

.form-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
  margin-right: 1.5em;
}

.category-title,
.budget-input {
  font-weight: 700;
  margin: auto 0;
}

.category-title {
  margin-right: 4em;
  text-align: left;
  width: 40%;
}

.category-form {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 20%;
}

.category-form label {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.nes-input.budget {
  margin-left: 0.5em;
  width: 75px;
  padding: 0;
  background-color: transparent;
  color: white;
}

.nes-btn.is-error {
  color: white;
  margin: 0;
  padding: 0.5em 1em;
}
