#root {
  margin: 0;
  padding: 2rem;
  font-size: 14px;
  background-color: #1e1e1e;
}

html {
  background-color: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  padding: 0;
}

.app-logo {
  width: 50%;
  min-width: 500px;
  max-width: 1000px;
  padding: 0;
}

.nes-container.is-dark.with-title.budget-calculator {
  align-self: flex-start;
  justify-self: flex-start;
  width: 50%;
  min-width: 500px;
}

.nes-container.is-rounded.summary {
  background-color: white;
  color: black;
  padding: 0.25em;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2em;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  margin: 0;
  padding: 2em;
}

.monthly-income {
  display: flex;
  align-items: center;
}

.monthly-income input {
  background-color: #1e1e1e;
  color: white;
  text-align: center;
  width: 75px;
  margin: 0 0 0 5px;
  padding: 5px;
  border: none;
}

.nes-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin-left: 0;
  padding: 2em;
}

.nes-list li {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

.nes-list li form {
  display: inline;
}

ul + span {
  margin-left: 2em;
}

.visible {
  display: block;
}

.hidden {
  display: none;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
