#root {
  margin: 0;
  padding: 2rem;
  font-size: 14px;
  background-color: #1e1e1e;
}

html {
  background-color: #1e1e1e;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nes-container.is-dark.with-title.app {
  align-self: flex-start;
  justify-self: flex-start;
  min-width: 400px;
  width: 50%;
}

.nes-container.is-rounded.summary {
  background-color: white;
  color: black;
  padding: 0.25em;
  width: fit-content;
  margin: 0 auto;
  margin-top: 2em;
}

.app-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  width: 100%;
  margin: 0;
  padding: 2em;
}

.spend-container {
  font-size: 0.825rem;
  margin-top: 2em;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.spend-container > span {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}

.spend-container > span > p {
  margin: auto 0;
}

.spend-container > .monthly-income {
  margin-bottom: 0.5em;
}

.monthly-income {
  display: flex;
  align-items: center;
}

.monthly-income input {
  background-color: transparent;
  text-align: center;
  width: 75px;
  margin: 0 0 0 5px;
  padding: 0;
}

.nes-list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  border: 5px solid #1e1e1e;
  margin: 0;
  padding: 1em;
}

.nes-list li {
  margin-left: 2em;
  margin-bottom: 0.5em;
}

.nes-list li form {
  display: inline;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
